
apiVersion: 1

datasources:
  - uid: prometheus
    name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
    isDefault: true
  - uid: loki
    name: Loki
    type: loki
    access: proxy
    url: http://loki:3100
